# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/

# Local environment files
*.local

# Environment variables (if any)
.env

# Editor directories and project files
.vscode/
!.vscode/extensions.json  # Keep VSCode extensions settings file
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store  # Mac OS file
Thumbs.db  # Windows thumbnail cache
