@import url('https://fonts.googleapis.com/css?family=Sofia');


.addtask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #66B032;
    /* background-image: url(https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?cs=srgb&dl=pexels-pixabay-122429.jpg&fm=jpg); */
    border-radius: 20px;
    background-repeat: none;
    background-size: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: auto;
    margin-top: 50px;

    box-shadow: 5px 10px 18px #888888;
}
.iconn{
    font-size: 40px;
    color: #01210b;
    float: right;
    
}

/* Responsive Design for screens larger than 768px (tablets and above) */
@media (max-width: 768px) {
    .addtask {
        width: 90%;
       
    }

    .addtask h1 {
        font-size: 24px;
    }

    .addtask button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Responsive Design for screens smaller than 480px (mobile phones) */
@media (max-width: 480px) {
    .addtask {
        width: 85%;
        padding: 15px;
        
    }

    .addtask h1 {
        font-size: 20px;
    }

    .addtask button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.addtask h1 {
    color: #edfd0a;
    font-size: 27px;
    font-family: "Sofia", sans-serif;
    margin-bottom: 10px;
   
}

.addtask input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 5px 10px 18px #154118;
    
}

.addtask input:focus {
    outline: none;
    border-color: #1B3409;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addtask button {
    padding: 10px 20px;
    background-color: #1B3409;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    transition: background-color 0.3s ease;
    box-shadow: 5px 10px 18px #001905;
}

.addtask button:hover {
    background-color: #375F1B;
}

.addtask button:active {
    background-color: #1B3409;
}
