

.record{
    width: 500px;
    margin: auto;
    border-radius: 12px;

}
h2{
    text-align: center;
    color: #1B3409;

}
.task{
    width: 500px;
    /* height: 200px; */
    
    margin: auto;
    border-radius: 12px;
    background-color: rgb(93, 130, 94);
    margin-top:10px;
  
    
}
.icon{
    width: 50px;
}
p{
    text-align: center;
}
.home{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.task-bar{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px; 
  margin-top: 50px;
}

